Repository jmuelbert/jm-github-standards: changes, and which lefthook commands are due for each by the changed paths.
All: spell-check, lint-js, lint-configs, lint-toml, lint-docs

lefthook.yml:

---
# SPDX-License-Identifier: EUPL-1.2
# SPDX-FileCopyrightText: Jürgen Mülbert <juergen.muelbert@gmail.com>
#
pre-commit:
  parallel: true
  commands:
    # 1. License Compliance (Crucial for OS projects)
    reuse:
      run: uv run reuse lint

    # 2. Spelling (Optimized to skip 'site' and 'venv' via glob)
    spell-check:
      glob: "*.{md,py,cpp,h,rs,ts,js,json,txt}"
      exclude: (site|venv|.venv|node_modules|.github/config/styles)/
      run: pnpm run lint:spell

    # 3. Frontend / Web (The core of your current project)
    # We use {staged_files} to lint ONLY what you changed.
    # This is much faster than linting the whole project every time.
    lint-js:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm exec eslint {staged_files}

    # 4. Configs (Since you use TOML/YAML for standards)
    lint-configs:
      glob: "*.{yaml,yml}"
      run: uv run yamllint -c .yamllint.yml .

    # 5. Configs (Since you use TOML for standards)
    lint-toml:
      glob: "*.toml"
      run: uv run taplo lint

    # 5. Documentation
    lint-docs:
      glob: "*.{md,markdown,mdx,adoc,asciidoc}"
      run: pnpm run lint:docs

    # 6. Repolinter (Checks project structure/README etc.)x
    lint-repolinter:
      run: pnpm run lint:repolinter

# Added: Commitlint integration
commit-msg:
  commands:
    lint commit message:
      run: pnpm exec commitlint --edit {1}

chore: add mkdocs and megalinter.eslint
  .github/config/eslint.megalinter.config.js
  mkdocs.yml
Due: spell-check, lint-js, lint-configs

chore: add mkdocs and megalinter.eslint (#38)
  .github/config/eslint.megalinter.config.js
  mkdocs.yml
Due: spell-check, lint-js, lint-configs

chore: add update floatings tags dynamic
  .github/workflows/shared-release-generic.yml
Due: lint-configs

chore: add update floatings tags dynamic (#39)
  .github/workflows/shared-release-generic.yml
Due: lint-configs

chore(templates): fix broken bug-report yaml structure
  .github/ISSUE_TEMPLATE/01-bug-report.yml
Due: lint-configs

chore(templates): fix broken bug-report yaml structure (#40)
  .github/ISSUE_TEMPLATE/01-bug-report.yml
Due: lint-configs

chore(labels): add triage label to standard configuration
  .github/config/labels.json
Due: spell-check

Initial commit
  .gitignore
  README.md
Due: spell-check, lint-docs

chore: Add EUPL v. 1.2 license file
  LICENSE
Due: none

chore: update git ignore
  .gitignore
Due: none

Initial commit
  README.md
Due: spell-check, lint-docs

chore: Add GitHub community files
  .gitattributes
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/CONTRIBUTORS.md
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-feature-request.yml
  .github/ISSUE_TEMPLATE/03-documentation.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/dependabot.yml
  .github/invite-contributors.yml
  .github/repo-metadata.yml
  .gitignore
  LICENSE
  LICENSES/CC-BY-4.0.txt
  LICENSES/CC0-1.0.txt
  LICENSES/EUPL-1.2.txt
  LICENSES/MIT.txt
  README.md
Due: spell-check, lint-configs, lint-docs

chore: Add GitHub community files (#1)
  .gitattributes
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/CONTRIBUTORS.md
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-feature-request.yml
  .github/ISSUE_TEMPLATE/03-documentation.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/dependabot.yml
  .github/invite-contributors.yml
  .github/repo-metadata.yml
  .gitignore
  LICENSE
  LICENSES/CC-BY-4.0.txt
  LICENSES/CC0-1.0.txt
  LICENSES/EUPL-1.2.txt
  LICENSES/MIT.txt
  README.md
Due: spell-check, lint-configs, lint-docs

chore: small fixes
  .gitignore
  README.md
Due: spell-check, lint-docs

Chore/configs (#7)
  .gitignore
  README.md
Due: spell-check, lint-docs
